:root {
  --primary-bg-color: rgb(20, 21, 57);
  --secundary-bg-color: rgb(31, 55, 86);
  --bg-radial-gradient: radial-gradient(
    circle at top,
    rgba(31, 55, 86, 1) 20%,
    rgba(20, 21, 57, 1) 100%
  );
  --main-text-color: #fbfdfd;
  --font-family: "Barlow Semi Condensed", sans-serif;
  --border-radius: 0.5rem;
  --outline-style: 2.5px solid #606e85;
  --colors-fluid-border: clamp(0.8125rem, 0.7169rem + 0.478vw, 1.125rem);
  --opt-clamp: clamp(-4.2rem, -2.5023rem + -1.9885vw, -2.9rem);
  --step--2: clamp(0.7813rem, 0.7755rem + 0.0287vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9184rem + 0.0956vw, 1rem);
  --step-0: clamp(1.125rem, 1.0868rem + 0.1912vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.285rem + 0.325vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5181rem + 0.5096vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7916rem + 0.761vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.1124rem + 1.1004vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4887rem + 1.5535vw, 3.815rem);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
span,
a {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}

input,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  display: block;
  width: 100%;
  fill: currentColor;
  user-select: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-size: 100%;
  font-family: var(--font-family);
  color: var(--main-text-color);
  text-align: center;
  background-color: var(--primary-bg-color);
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.secs-wrapper {
  /* js set height */
  min-height: 490px;
  max-height: 910px;
  padding: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--primary-bg-color);
  background: var(--bg-radial-gradient);
}

.score-sec {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 200px;
  max-width: 576px;
  padding: 0.9rem;
  margin: 0 auto;
  outline: var(--outline-style);
  border-radius: var(--border-radius);
  cursor: default;
}

.score-sec__logo {
  width: clamp(5.8rem, 5.4941rem + 1.5296vw, 6.8rem);
  padding: 0.5rem 0;
}

.score-sec__count {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: clamp(4.5rem, 3.5822rem + 4.5889vw, 7.5rem);
  padding-top: clamp(0.3rem, 0.2388rem + 0.3059vw, 0.5rem);
  color: #000;
  background-color: #fff;
  border-radius: inherit;
}

.score-sec__name {
  margin-bottom: clamp(0.2rem, 0.1082rem + 0.4589vw, 0.5rem);
  letter-spacing: 0.09rem;
  font-size: var(--step--2);
  text-transform: uppercase;
  color: #3b4363;
}

.score-sec__number {
  font-size: var(--step-4);
  font-weight: 700;
  color: #3b4363;
}

.game-sec {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  position: relative;
  width: 70%;
  margin-top: -1.5rem;
}

.bg-triangle {
  width: 100%;
  height: auto;
  max-height: 220px;
  pointer-events: none;
}

.opt-base {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.7rem;
  height: 6.5rem;
  background-color: #192845;
  border-radius: 50%;
  transition: transform 0.12s ease;
}

.opt-base--left {
  top: -2.5rem;
  left: -2.5rem;
}

.opt-base--right {
  top: -2.5rem;
  right: -2.5rem;
}

.opt-base--bottom {
  right: 0;
  bottom: -1.8rem;
  left: 0;
  margin: auto;
}

.opt-base--scale-hover:hover {
  transform: scale(0.95);
}

/* .opt-base__msg {
} */

.opt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: inherit;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.opt__img {
  width: 45%;
}

.results-board {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 810px;
}

.results-board .opt-base {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rs-actions {
  margin-top: 3.7rem;
  width: 100%;
}

.bottom-sec {
  display: block;
}

.btn {
  display: block;
  letter-spacing: 0.1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
}

.btn--rules {
  position: relative;
  width: 7.8rem;
  padding: 0.5em 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
  outline: var(--outline-style);
}

.btn--play-again {
  margin: 1.3rem auto 1.3rem;
  padding: 0.8rem 3rem;
  font-size: var(--step-0);
  color: #1b2e4e;
  background-color: var(--main-text-color);
}

.btn:hover {
  opacity: 0.8;
}

.result-msg {
  display: inline-block;
  font-size: var(--step-5);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0.2em;
  cursor: default;
  letter-spacing: 0.1rem;
}

.modal-rules-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 950;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-rules-continer--is-active {
  opacity: 1;
}

.modal-rules {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4.2rem 2rem 3.5rem;
  background-color: var(--main-text-color);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-rules--is-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.07, 1.42, 0.96, 1.04);
}

.modal-rules__label {
  font-size: var(--step-2);
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  order: 1;
}

.modal-rules__rules-img-container {
  flex-grow: 1;
  order: 2;
  display: flex;
  align-items: center;
}

.modal-rules__rules-img {
  margin-top: -1.3rem;
  object-fit: contain;
  pointer-events: none;
}

.modal-rules__close-btn {
  width: 1.3rem;
  order: 3;
  cursor: pointer;
}

.s-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 980;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--secundary-bg-color);
}

.s-loader img {
  display: inline-block;
  width: 60%;
  max-width: 320px;
  margin-top: -2rem;
}

.s-loader .loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(
        135deg,
        #766df4 0 10px,
        #766df4bf 0 20px
      )
      left/0% 100% no-repeat,
    repeating-linear-gradient(135deg, #766df433 0 10px, #766df41a 0 20px)
      left/100% 100%;
  animation: loader 1.9s 1 forwards;
  margin: 1.5rem auto 0;
}

@keyframes loader {
  100% {
    background-size: 100% 100%;
  }
}

.paper-color {
  border: var(--colors-fluid-border) solid #5671f5;
  box-shadow: 2px 7px #3751d4, inset 0 5px #00000033;
}

.scissors-color {
  border: var(--colors-fluid-border) solid #ecac2c;
  box-shadow: -2px 7px #da920c, inset 0 5px #00000033;
}

.rock-color {
  border: var(--colors-fluid-border) solid #de405d;
  box-shadow: 0 7px #c7213f, inset 0 5px #00000033;
}

.attribution {
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  font-size: 11px;
  text-align: center;
  color: #000;
}

.attribution a {
  display: block;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 320px) {
  .app-wrapper {
    padding: 2rem clamp(2rem, 0.75rem + 6.25vw, 3rem);
  }

  .game-board {
    width: clamp(12.5rem, 7.5rem + 25vi, 16.5rem);
    margin-top: clamp(-1.5rem, -4.5997rem + 13.2253vw, 3.6rem);
  }

  .opt-base {
    width: clamp(8rem, 5.5rem + 12.5vi, 10rem);
    height: clamp(7.8rem, 5.3rem + 12.5vi, 9.8rem);
  }

  .opt-base--left {
    top: var(--opt-clamp);
    left: var(--opt-clamp);
  }

  .opt-base--right {
    top: var(--opt-clamp);
    right: var(--opt-clamp);
  }

  .opt-base--bottom {
    bottom: -3rem;
  }
}

@media (min-width: 576px) {
  .secs-wrapper {
    padding: 2rem 2rem;
  }

  .btn--rules {
    margin-left: auto;
    margin-right: 0;
  }

  .modal-rules {
    width: 20rem;
    height: auto;
    padding: 2rem;
    border-radius: var(--border-radius);
  }

  .modal-rules__label {
    margin-bottom: 1.2em;
    cursor: default;
  }

  .modal-rules__label {
    align-self: flex-start;
  }

  .modal-rules__rules-img-container {
    padding: 0.5rem;
  }

  .modal-rules__rules-img {
    margin-top: 0;
  }

  .modal-rules__close-btn {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
  }
}

@media (min-width: 576px) {
  .results-board {
    align-items: center;
  }

  .results-board .opt-base {
    opacity: 1;
  }

  .results-board #select-1-base {
    order: 1;
  }
  .results-board #select-2-base {
    order: 3;
  }

  .rs-actions {
    order: 2;
    margin-top: 0;
    display: inline-block;
    width: auto;
  }
}
